
* {
    box-sizing: border-box;
  }
  


body {
   background-image: url("arcadeBackground.jpeg");
   background-repeat:no-repeat;
   background-size:cover;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}




ul {
   margin-top: 20rem;
  
    border: .5rem;
   border-color: aqua;
   border-style: dashed;
}