body {
    
    background-image: url('Back_ground.jpeg');
    background-repeat:no-repeat;
    background-size:cover;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  
}


h1 {
    
    color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

p {
    color: aliceblue;
}
ul {
    display: flex;
    flex-direction: column;
    margin: 20rem;
 
    border: .5rem;
   border-color: aqua;
   border-style: dashed;
}